Thumbs.db
node_modules
*.log
.vscode
.idea
.nyc_output
dist/css.css
dist/bundle.js
dist/icons
icons
dist/test.js
dist/styles.css
dist/styles.css.map
dist/*.ts
dist/**/*.ts
lib/*.js

# not sure if this needs to be private or not
.clasp.json
.clasp.dev.json
.clasp.prod.json
