{{! base.mustache }}
{{! this is a comment }}

{{! opening a mustache with $ makes it a variable, which can
 later be filled by templates that call it.
 Note: you must close these variable tags with a / }}


{{! base.mustache }}
<html>
{{$header}}{{/header}}
{{$content}}{{/content}}

{{<form}}
    {{$title}}this is the new title{{/title}}
{{/form}}
</html>