<!--Footer-->
<footer class="grid">
    <!--Spacer-->
    <div></div>

    <!--Github-->
    <div>
        <b>Source code</b><br />
        <a href="https://github.com/ericyd/gdrive-copy" target="_blank">Github</a>
    </div>

    <!--Promotion for Transfer Ownership-->
    <div>
        <b>Transfer folder ownership</b><br />
        Check out <a href="https://chrome.google.com/webstore/detail/transfer-ownership/ndbdlpeegehlbhgnpifancfbnnehoofa" target="_blank">my other project</a>
    </div>

    <!--ericyd.com-->
    <div>
        <b>Developer's website</b><br />
        <a href="http://ericyd.com" target="_blank">ericyd.com</a>
    </div>

    <!--email-->
    <div>
        <b>Comments? Questions? Concerns?</b><br />
        eric@ericyd.com
    </div>

    <!--Spacer-->
    <div></div>

</footer>