<!--Footer-->
<footer class="grid">

    <!--Spacer-->
    <section class="footer-section"></section>

    <!--Github-->
    <section class="footer-section">
        <b>Source code</b>
        <br />
        <a href="https://github.com/ericyd/gdrive-copy" target="_blank">Github</a>
    </section>

    <section class="footer-section">
        The developer does not upkeep this project anymore.
        However, if you'd like to show your support in the form
        of monetary contribution, please consider giving to
        <a href="https://secure.actblue.com/donate/ms_blm_homepage_2019" target="_blank">Black Lives Matter Global Network</a>
    </section>

    <section class="footer-section">
        <b>Questions?</b>
        <br /> Please look at the FAQ
    </section>

    <!--Spacer-->
    <section class="footer-section"></section>

</footer>