<!--Footer-->
<footer class="grid">

    <!--Spacer-->
    <section></section>

    <!--Github-->
    <section class="footer-section">
        <b>Source code</b><br />
        <a href="https://github.com/ericyd/gdrive-copy" target="_blank">Github</a>
    </section>

    <!--Promotion for Transfer Ownership-->
    <section class="footer-section">
        <b>Transfer folder ownership</b><br />
        Check out <a href="https://chrome.google.com/webstore/detail/transfer-ownership/ndbdlpeegehlbhgnpifancfbnnehoofa" target="_blank">my other project</a>
    </section>

    <!--ericyd.com-->
    <section class="footer-section">
        <b>Developer's website</b><br />
        <a href="http://ericyd.com" target="_blank">ericyd.com</a>
    </section>

    <!--email-->
    <section class="footer-section">
        <b>Comments? Questions? Concerns?</b><br />
        eric@ericyd.com 
    </section>

    <!--Spacer-->
    <!--todo: figure out why the cutestrap grid isn't auto-removing this margin-->
    <section style="margin-right:0"></section>

</footer>