<!--Header-->

<header>
    <section class="header-container">
        <center>
            <h1>Copy a google drive folder and all its contents</h1>
            {{> icons/header-icon }}
        </center>  
    </section>

    <nav>
        <section class="header-container">
            <a role="button" class="active" id="new-copy-button" href="javascript:;">Start</a>
            <a role="button" class="" id="resume-button" href="javascript:;">Resume</a>
            <a role="button" class="" id="stop-button" href="javascript:;">Pause</a>
            <a role="button" class="" id="stop-button" href="javascript:;">FAQ</a>
        </section>
    </nav>
</header>