<!--Header-->

<header>

    <h1>
        Copy a google drive folder and all its contents
    </h1>
    
    <div id="description" class="description">
        Just input the folder sharing url and a new folder name, and it will copy to your home folder in Google drive.<br />
        To get started, simply select your folder and choose a new name, then select Copy Folder!<br />
        If the folder copy get's stuck, simply use the "Resume prior folder copy" button, then select the copy of your folder.<br />
    </div>
    
    <div id="resume-description" class="description">
        Sometimes this app will get stuck (sorry!).  To resume a folder copy that is in-progress, but paused for whatever reason, simply
        select the <b><i>new, incomplete copy</i></b> of the folder and select "Resume copying".
    </div>
    
    <nav>
        <a class="active toggle-forms" id="new-copy-button" href="javascript:;">Copy folder</a>
        <a class="toggle-forms" id="resume-button" href="javascript:;">Resume prior copy</a>
    </nav>

</header>