<!--Header-->

<header>
    <section class="header-container">
        <center>
            <h1>Copy a google drive folder and all its contents</h1>
            {{> icons/header-icon }}
        </center>  
    </section>

    <nav>
        <section class="header-container">
            <button role="button" class="active btn--small btn--nav" id="start-button" href="javascript:;">Start</button>
            <button role="button" class="btn--small btn--nav" id="resume-button" href="javascript:;">Resume</button>
            <button role="button" class="btn--small btn--nav" id="stop-button" href="javascript:;">Pause</button>
            <button role="button" class="btn--small btn--nav" id="faq-button" href="javascript:;">FAQ</button>
        </section>
    </nav>
</header>