<!--Header-->

<header>
    <section class="header-container">
        <center>
            <h1>Copy a google drive folder and all its contents</h1>
            {{> icons/header-icon }}
        </center>  
        Logged in as <span class="userEmail"><span class="rotate-contents"><i class="spinner"></i></span></span>.<br />
        <!--Produ-->
        <!--<a target="_blank" href="https://accounts.google.com/AccountChooser?continue=https://script.google.com/macros/s/AKfycbxbGNGajrxv-HbX2sVY2OTu7yj9VvxlOMOeQblZFuq7rYm7uyo/exec">Click here</a> to log in with a different account.-->
        <!--Dev-->
        <a target="_blank" href="https://accounts.google.com/AccountChooser?continue=https://script.google.com/macros/s/AKfycbzKJQO5CBf7WDmrYo8FGDb20YWfoIyUZZhsbF844SI/dev">Click here</a> to log in with a different account.


    </section>

    <nav>
        <section class="header-container">
            <button role="button" data-template="start" class="active btn--small btn--nav" id="start-button" href="javascript:;">Start</button>
            <button role="button" data-template="resume" class="btn--small btn--nav" id="resume-button" href="javascript:;">Resume</button>
            <button role="button" data-template="pause" class="btn--small btn--nav" id="stop-button" href="javascript:;">Pause</button>
            <button role="button" data-template="faq" class="btn--small btn--nav" id="faq-button" href="javascript:;">FAQ</button>
        </section>
    </nav>
</header>