<main class="container" id="container">

    {{> new-copy-form }}
    {{> resume-copy-form }}
    
    <!--todo: format alert boxes-->
    
    
    <!--These divs display when complete-->
    <div id="complete" class='alert alert-success' role='alert'>
        <b>Copying has started in background</b>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-cog"></i>Copying folder "<span class="folderName"></span>".  You may close this window and the copying will continue in the background.</li>
            <li><i class="fa-li fa fa-cog"></i>Please check the <span id="copy-log-link"></span> for progress updates. This log is located inside the newly created folder.</li>
            <li><i class="fa-li fa fa-cog"></i>The new folder copy can be found <span id="dest-folder-link"></span>.</li>
            <li><i class="fa-li fa fa-cog"></i>Please refresh this page to begin copying another folder</li>
            <li><i class="fa-li fa fa-cog"></i>If the folder does not copy correctly, please email the author at eric@ericyd.com</li>
        </ul>
    </div>

    <div id="please-review" class="panel panel-default">
        <div class="panel-heading">Have an extra 30 seconds?</div>
        <div class="panel-body">
            Please take a moment to <a href="https://chrome.google.com/webstore/detail/copy-folder/kfbicpdhiofpicipfggljdhjokjblnhl/reviews" target="_blank">rate and review this app</a> in the Chrome Web Store.
        </div>
    </div>

    <!--These divs get filled programatically at runtime-->
    <div id="errors"></div>
    <div id="too-many-triggers" class="alert alert-danger">
        There are too many existing Copy Folder instances running.
        Please wait until the other instances complete to begin a new folder copy.<br><br>
        If there are no other folders currently being copied, you can force this operation to continue.
        Note: This will stop any other folder copies that are active on your account.
        <button id="delete-existing-triggers" class="btn btn-danger">Force continue</button>
    </div>
    <div id="status">
        <h4 id="status-title">Initializing copy request (this should just take a few moments) <i class="fa fa-spinner fa-spin"></i></h4>
    </div>
    
</main>