@import 'my-variables';
.alert {
  display: block;
  padding: 1em;
  margin: 1em 0 1em;
  background: #fff;
  // border-radius: $border-radius;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    color: inherit;
  }
}

.alert--success {
  background: $alert--success--background;
  color: $alert--success--text !important;

  h3 svg {
    fill: $alert--success--text;
    margin-right: 0.5em;
    position: relative;
    top: 0.15em;
  }
}

.alert--error {
  background: $alert--error--background;
  color: $alert--error--text !important;

  h3 svg {
    fill: $alert--error--text;
    margin-right: 0.5em;
    position: relative;
    top: 0.15em;
  }
}

.alert--neutral {
  background: $alert--neutral--background;
  color: $alert--neutral--text !important;

  h3 svg {
    fill: $alert--neutral--text;
    margin-right: 0.5em;
    position: relative;
    top: 0.15em;
  }
}
