@import 'my-variables';
.alert {
  display: block;
  padding: 1em;
  margin: 0 0 1em;
  background: #fff;
  font-size: $fs-smaller;
  line-height: $lh-smaller;
  border-radius: $border-radius;
}

.alert--success {
  background: $alert--success--background;
  color: $alert--success--text;
  border: 1px solid $alert--success--border;
}

.alert--error {
  background: $alert--error--background;
  color: $alert--error--text;
  border: 1px solid $alert--error--border;
}

.panel {
  @extend .alert;
  border: 1px solid $gray4;
}

.panel-heading {
  border-bottom: 1px solid $gray6;
  font-weight: bold;
  margin: 0 0 0.5rem;
}
