@import "my-variables";

/* 
Pulled directly from 
https://github.com/FortAwesome/Font-Awesome/blob/89a28f8b1f9882159dce581ee92d398bbc33ad59/scss/_animated.scss 
*/

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


/* apply class directly to icon */
// .rotate-contents > i {
//     // display:inline-block;
//     // width: 1em;
//     // height: 1em;
//     -webkit-animation: icon-spin 0.75s infinite linear;
//     animation: icon-spin 0.75s infinite linear;
// }


.primary-stroke {
    stroke: $primary;
}