@import 'my-variables';

.btn,
[type='button'],
[type='submit'],
button {
  border-radius: $border-radius;

  &:focus,
  &:active,
  &:link,
  &:hover {
    outline: 0;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &.btn--small {
    // height: 2.8rem;
    line-height: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 3px solid $primary;
    background: transparent;
    color: $primary;

    &:hover {
      background: $primary;
      color: #fff;
      transition: all 0.25s ease;
    }

    &:focus,
    &:active,
    &:link,
    &:hover {
      outline: 0;
    }

    &::-moz-focus-inner {
      border: 0;
    }
  }

  &.btn--nav {
    color: #fff;
    margin: 0;
    line-height: 0em;
    padding: 1em 1em 0.5em 1em;
    border: 0px;
    border-bottom: 0.5em solid $primary;
    background: none;
    box-sizing: border-box;
    transition: all 0.25s ease;

    &:hover {
      // padding-bottom: 1em;
      border-color: $body-background;
      // border-bottom: 0.5em solid $body-background;
      // color: $gray3; // same as nav background in _header
      transition: all 0.25s ease;
    }

    &:focus,
    &:active,
    &:link,
    &:hover {
      outline: 0;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &.active {
      background: #fff;
      color: $gray3; // same as nav background in _header
      border-color: $body-background;
      transition: all 0.25s ease;
    }
  }
}

.github-button-wrapper {
  position: relative;
  top: 10px;
}
