@import 'my-variables';

.footer-spacer {
  display: block;
  height: $footer-height * 2;
  width: 100%;
}

footer {
  box-sizing: border-box;
  padding: 1em 0 1em 0;
  background: $gray4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;
}

.footer-section {
  // defined in my-variables
  font-size: $fs-smaller;
  line-height: $lh-smaller;
  border-right: 1px solid darken($gray4, 20%);

  &:last-of-type,
  &.footer-section--last {
    border-right: 0;
  }
}
