@import 'my-variables';
.header-container {
  width: $container-width * 1.5;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 10px;
  text-align: left;
  color: #333;

  > .header-container__icon {
    display: inline;

    > svg {
      width: 3em;
      height: 3em;
      position: relative;
      top: 0.5em;
      display: inline-block;
    }
  }

  > .header-container__headings {
    display: inline;
    h1,
    h5 {
      padding: 0.5rem;
      margin: 0;
      display: inline;
    }

    h5 {
      padding: 0;
    }
  }
}

nav {
  width: 100%;
  background: $primary;
  margin: 0;
  padding: 0;
}

.nav-container {
  width: $container-width;
  max-width: 100%;
  margin: 0 auto;
}

#change-account {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;

  & > .change-account__box {
    background: $gray6;
    color: $gray1;
    border: 1px solid $gray4;
    padding: 0.25em 0.5em;
    font-size: 0.65em;
  }
}

h4 {
  padding-top: 0;
}
