@import "my-variables";

header > * {
    padding: 10px $header-padding;
}

.description {
    // defined in my-variables
    @extend .smaller;
}

nav {
    width: $container-width;
    background: $extra-light;
    margin: 0; 
}

nav a {
    display: inline-block;
    padding: 5px 0 5px 0;
    margin: 0 10px;
    border-bottom: 3px solid $dark;
    text-decoration: none;    
    
    &:hover {
        color: $extra-dark;
        border-bottom: 6px solid $extra-dark;
        padding: 5px 0 2px 0;
    }
    
    &:visited {
        border-bottom: 3px solid $dark;
    }
    
    &:focus {
        outline: 0;
    }
}