.no-padding {
  padding: 0;
}

.test-mode-banner {
  position: 'absolute';
  transform: 'rotate(270deg)';
  background: red;
}

.flex-wrapper {
  @include flex-wrapper($align: middle);
}

.circle-or {
  display: inline-block;
  margin: 1em;
  padding: 0.25em 0.25em 0.25em 0.4em;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  border: 2px solid #000;
}

.list-item-large {
  padding: 1.5em 0;
}

.controls {
  margin-top: 1em;
}
