@import 'my-variables';

* {
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  background-color: $body-background;
  height: 100%;
  margin: 0;
  font-family: $font-family;
}

main {
  // min-height: 100%;
  width: 100%;
}

.container {
  width: $container-width;
  padding-bottom: 3rem;
  margin: 0 auto;
  margin-bottom: $footer-height / 2;
}

.overlay {
  display: none;
  position: absolute;
  z-index: 1000;

  .overlay__curtain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    background: #fff;
  }

  .overlay__content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 800px;
    text-align: center;
    height: 500px;
  }
}

a {
  color: $primary--darker;

  &:hover {
    color: $primary--darkest;
  }

  &:visited {
    color: $primary--darker;
  }

  &:link {
    color: $primary--darker;
  }

  &:focus {
    color: $primary--darkest;
  }
}

.account-switcher {
  position: absolute;
  right: 1em;
  margin-top: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
}
