@import "my-variables";

html, body {
    height: 100%;
    margin: 0;
}


main {
    // min-height: 100%;
    width: $container-width;
    margin: 0 auto;
    margin-bottom: -$footer-height;
    
}


a {
    color: $dark;
    
    &:hover {
        color: $extra-dark;
    }
    
    &:visited {
        color: $dark;
    }
    
    &:link {
        color: $dark;
    }
    
    &:focus {
        color: $extra-dark;
    }
}

// Hide elements that are programatically shown throughout script processing
#status, #complete, #please-review, #dialog-message {
    display: none;
}


.btn.btn--small {
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
}