/* Variables */

//== Scaffolding
$body-bg:                   #FFF;

//== Colors
$footer-color:              #bdbcbb;
$brand-primary:             darken(#428bca, 6.5%);

//== Typography

$font-family-sans-serif:        "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:             "Kreon", "Times New Roman", Times, serif;
$font-family-base:              $font-family-sans-serif;
$font-size-base:                16px;

$icon-font-path:                '../fonts/bootstrap/';

$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    700;


//== Google-Drive-Copy-Folder
$footer-height:         100px;
$footer-height-sm:      250px;