/* Variables */

//== Scaffolding
$body-bg:                   #FFF;
// $grid-gutter-width:         0px;

//== Colors
// $brand-primary:           #D67D00; // "linkColor"
// $brand-success:           #5A6373; // "steelText"
$footer-color:              #bdbcbb;

//== Typography

$font-family-sans-serif:        "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:             "Kreon", "Times New Roman", Times, serif;
$font-family-base:              $font-family-sans-serif;
$font-size-base:                16px;

// $link-hover-color:              $brand-success;
// $link-decoration:               none;
// $link-hover-decoration:         none;

// $line-height-base:              1.65;

$icon-font-path:                '../fonts/bootstrap/';

$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    700;
// $headings-line-height:    1.1;
// $headings-color:          $brand-success;

// $font-size-h1:          2.2em;
// $font-size-h2:          1.8em;
// $font-size-h3:          1.1em;
// $font-size-h4:          1.0em;

//== Google-Drive-Copy-Folder
$footer-height:         100px;
$footer-height-sm:      250px;