@import "my-variables";
@import "_footer";
@import "_layout";


html, body {
  height: 100%;
}


#explain-permissions {
  background:#fff;
  color:#000;

  &:hover{
    color: $primary;
  }

  &:focus {
    outline:0;
  }
}


.description {
  padding: 10px 0 10px 0;
}



// Hide elements that are programatically shown throughout script processing
#status, #complete, #please-review, #dialog-message {
  display: none;
}