/* Variables */

//== Layout
$container-width:       70%;
$footer-height:         100px;
$footer-height-sm:      250px;

//== Colors
$primary:                   #9B9DC9;
$secondary:                 #393;
$footer-color:              #bdbcbb;

//== Typography
