<ul>
<li><a href="#longerThan2Mins">The copying has been paused longer than 2 minutes and it isn't complete.  What do I do?</a></li>
<li><a href="#copyBetweenDomains">Can I use this app to copy a folder between domains?</a></li>
<li><a href="#whenIsItDone">How do I know when it is done?</a></li>
<li><a href="#notEverythingCopied">It didn't copy everything - what do I do?</a></li>
<li><a href="#multipleAccounts">How do I sign into a different account with this app?</a></li>
</ul>


<h4><a name="longerThan2Mins"></a>The copying has been paused longer than 2 minutes and it isn't complete.  What do I do?</h4>
<div class="description">
    When the app stops, you can use the "Resume" button to restart the copying.  When selecting the folder to resume, you must select the <b>in-progress</b> folder, <b>not</b> the original.<br><br>
    For example, if you are creating a copy of "Folder A" called "Copy of Folder A", you should select "Copy of Folder A" when you resume the copying.  Selecting the original folder will return an error.
</div>

<h4><a name="copyBetweenDomains"></a>Can I use this app to copy a folder between domains?</h4>
<div class="description">
    Yes!  Follow the steps below:
    <ol>
        <li>Log into the account that owns the folder ("Account 1")</li>
        <li>Share the folder with the domain to which you'd like to copy ("Account 2")</li>
        <li>Open an private/incognito window and log into Account 2</li>
        <li>Open the app, and select the folder that has been shared</li>
        <li>Create a copy and Account 2 will now be the owner</li>
    </ol>
</div>

<h4><a name="whenIsItDone"></a>How do I know when it is done?</h4>
<div class="description">
    You will know it is complete when the Copy Log says "Complete" in cell C2.  In addition, the cell will highlight green.
</div>


<h4><a name="notEverythingCopied"></a>It didn't copy everything - what do I do?</h4>
<div class="description">
    Typically this is due to server errors encountered while copying.  You should be able to do one of the following to resolve this situation:
    <ol>
        <li>Audit the Copy Log for any errors, and manually copy those files</li>
        <li>Restart the copy process.  Typically, it is best if you wait a few hours if you ran into significant copying errors</li>
    </ol>
</div>

<h4><a name="multipleAccounts"></a>How do I sign into a different account with this app?</h4>
<div class="description">
    There isn't a handy Account Switcher like you'll find in native Google Apps.*  However, you can try to use the link at the top of the page which should re-direct you and allow you to sign if from a different account.<br><br>
    If that fails, I would recommend signing in from another browser, or opening an incognito/private window and accessing the app that way.
    
    <br><br>*If you think this is a good feature, please feel free to <a href="https://github.com/ericyd/gdrive-copy/issues" target="_blank">open an issue on Github</a>, or better yet, contribute to the repo! 'Cuz I don't know how to add an Account Switcher, otherwise I would have done it already :)
</div>
