<h4>The copying has been paused longer than 2 minutes and it isn't complete.  What do I do?</h4>
When the app stops, you can use the "Resume" button to restart the copying.  When selecting the folder to resume, you must select the <b>in-progress</b> folder, <b>not</b> the original.<br><br>
For example, if you are creating a copy of "Folder A" called "Copy of Folder A", you should select "Copy of Folder A" when you resume the copying.  Selecting the original folder will return an error.

<h4>Can I use this app to copy a folder between domains?</h4>
Yes!  Follow the steps below:
<ol>
    <li>Log into the account that owns the folder ("Account 1")</li>
    <li>Share the folder with the domain to which you'd like to copy ("Account 2")</li>
    <li>Open an private/incognito window and log into Account 2</li>
    <li>Open the app, and select the folder that has been shared</li>
    <li>Create a copy and Account 2 will now be the owner</li>
</ol>
