<!--Form-->
<div id="description" class="description">
    To get started, simply select your folder and choose a new name, then select Copy Folder!<br />
    If the folder copy get's stuck, simply use the "Resume prior folder copy" button, then select the copy of your folder.<br />
</div>


<div id="formDiv" class="form-div">
    <form id="folderForm" name="folderForm">

        <!--Select Folder-->
        Folder to copy
        <!--Elements to select folder-->
        <div class="folderSelect">
            <button type="button" id="selectFolderButton" class="btn btn--small selectFolderButton">Select Folder</button>
            or
            <label for="newFolder" class="textfield">
                <input type="text" id="folderTextbox" name="newFolder">
                <span class="textfield__label">Paste folder URL (Ctrl-V)</span>
            </label>
        </div>

        <div class="getFolderErrors"></div>
        
        
        <div class="folderLookup">
            Finding folder...<span class="rotate-contents"><i class="spinner"></i></span>
        </div>


        <!--Display when folder is selected-->
        <div class="selectedFolderInfo">
            <span class="folderName"></span> &nbsp;&nbsp;
            <button type="reset" class="btn  btn--small selectOtherFolder">Select other folder</button>
        </div>
        
        <br />


        <!--New folder name-->
        <label class="textfield" for="newFolder">
            <input type="text" id="newFolder" name="newFolder" />
            <span class="textfield__label">New folder name</span>
        </label>



        <!--Copy permissions?-->
        Copy sharing permissions
        <!--Question mark button-->
        <span tabindex="10" class="tooltip-toggle" data-tooltip="Select this box if you want the documents in the folder copy to be editable/viewable by the same people as the originals. Owners of originals will become editors of the copies. Copying takes much longer if 'Yes' is selected.">
            {{> question }}
        </span> 
        
        
        <div class="form-group" id="permissions-group">
            <label class="radio">
                <input type="radio" name="permissions" value="no" checked/>
                <span class="radio__label">No</span>
            </label>
            <label class="radio">
                <input type="radio" name="permissions" value="yes" />
                <span class="radio__label">Yes</span>
            </label>
        </div>



        <!--Copy to-->
        Copy folder to
        <div class="form-group" id="destination-group">
            <label class="radio">
                <input type="radio" name="copyLocationOptions" value="same" checked/>
                <span class="radio__label">Same as source folder</span>
            </label>
            <label class="radio">
                <input type="radio" name="copyLocationOptions" value="root" />
                <span class="radio__label">Root directory (i.e. at the top of "My Drive")</span>
            </label>
        </div>


        <!--Submit-->
        <button type="submit" id="copyFolderButton" data-loading-text="Copying..." class="btn">Copy folder</button>

    </form>

</div>   